<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Votacion_DAL.Properties.Settings.VotacionesPGConnectionString"
            connectionString="Data Source=DANIEL-PC\SQLEXPRESS;Initial Catalog=VotacionesPG;Persist Security Info=True;User ID=votomax;Password=poligran"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>